# PyCaret Classification Model - Supervised Learning

#### Data: Tourism Nova Scotia
#### Time: 2006 to 2024
#### Data Source: https://data.novascotia.ca/Business-and-Industry/Tourism-Nova-Scotia-Visitation/n783-4gmh/about_data

In [1]:
# import the required libraries

import numpy as np
import pandas as pd
import seaborn as sns

from pycaret.classification import *

In [2]:
data = pd.read_csv('./Tourism_Nova_Scotia_Visitation_20250202_UPDATED.csv')
data.head()

,Mode of entry,Month/Year,Visitor Origin,Country,Number of Visitors (Rounded to nearest hundred)
0,Air,January 2006,Atlantic Canada,Canada,5400.0
1,Air,January 2006,Quebec,Canada,3400.0
2,Air,January 2006,Ontario,Canada,16600.0
3,Air,January 2006,Western Canada,Canada,7000.0
4,Air,January 2006,New England (inc Maine),United States,800.0

### Data Dictionary

 - **Mode of entry** - Visitor entered Nova Scotia by what mode [Air, Road].
 - **Month/Year** - The date of visitor entry.
 - **Visitor Origin** - Which City or Province are the visitor originally from.
 - **Country** - Which country are the Visitor originally from.
 - **Number of Visitors (Rounded to nearest hundred)** - Count of visitors

### Exploratory Data Analysis [EDA]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7182 entries, 0 to 7181
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Mode of entry                                    7182 non-null   object
 1   Month/Year                                       7182 non-null   object
 2   Visitor Origin                                   7182 non-null   object
 3   Country                                          7182 non-null   object
 4   Number of Visitors (Rounded to nearest hundred)  6282 non-null   float64
dtypes: float64(1), object(4)
memory usage: 280.7+ KB

In [4]:
# Checking for nulls in the data 

data.isna().sum()

Mode of entry                                        0
Month/Year                                           0
Visitor Origin                                       0
Country                                              0
Number of Visitors (Rounded to nearest hundred)    900
dtype: int64

In [5]:
# drop the rows will null or missing records

data = data.dropna(axis= 0, how= 'any')

In [6]:
# red-check for null or missing records

data.isna().sum()

Mode of entry                                      0
Month/Year                                         0
Visitor Origin                                     0
Country                                            0
Number of Visitors (Rounded to nearest hundred)    0
dtype: int64

In [7]:
# for this instance, Let's look at 'Mode of entry column 

data['Mode of entry'].value_counts()

Mode of entry
Air     3413
Road    2869
Name: count, dtype: int64

### Setup

In [8]:
# initialize the training environment, required parameters -> data, target 

s = ClassificationExperiment() 
s.setup(data= data, target= 'Mode of entry', session_id = 42, fix_imbalance=True)  #fix_imbalance=True, False by default

In [9]:
# Target mapping	Air: 0, Road: 1

s.y_transformed.value_counts()

Mode of entry
0    3413
1    3250
Name: count, dtype: int64

### Compare Models

In [10]:
# compare the models to evaluate the performance 

comp_mdl = s.compare_models()

In [11]:
# display the chosen model

comp_mdl

### Create the selected model

In [12]:
# create the 'catboost' model

catboost_mdl = s.create_model('catboost')

In [13]:
catboost_mdl

### Tune the model

In [14]:
# tune the model 

tuned_catboost_mdl = s.tune_model(catboost_mdl)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Score Comparison

**Catboost model scores**
    	Accuracy   AUC	Recall	 Prec.	  F1	 Kappa	  MCC
Mean	0.7967	0.8819	0.7967	0.7985	0.7952	0.5867	0.5903
Std	    0.0188	0.0131	0.0188	0.0195	0.0188	0.0381	0.0387

**Tuned Catboost model scores**
        Accuracy  AUC	 Recall	 Prec.	  F1	 Kappa	  MCC    	 	 	 	 	 	 
Mean	0.7853	0.8780	0.7853	0.7866	0.7839	0.5638	0.5668
Std	    0.0204	0.0155	0.0204	0.0212	0.0203	0.0411	0.0418

### Evaluate the model

In [15]:
eval_mdl = s.evaluate_model(catboost_mdl)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin